body{
  font-family: Dancing Script;
  background-color: #02010a;
  width: 100%;
}

.contenido div{
  max-width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cabecera{
  background: #5b7989;
  padding-left: 1em;
  padding-right: 1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  height: 4em;
}

.cabecera h1{
  float: left;
  text-shadow: 2px 2px #02010a;
  font-size: 1.5em;
}

#menu-principal{
  margin-top: 2%;
  margin-bottom: 5%;
  float: right;
}

a{
  color: white;
}

#menu-principal .paisajes{
  text-decoration: underline;
  text-decoration-color: #5b7989;
}

.imagen-central{
  background-color: #d5c75f;
  padding-left: 1em;
  padding-right: 1em;
  height: 20px;
}

img{
  width:90%;
  margin-top: 0.5%;
  margin-bottom: 1%;
  box-shadow: 2px 2px #02010a;
}

.contenedor1{
  background-color: #d5c75f;
  padding-left: 1em;
  padding-right: 1em;
}

.contenedor2{
  display: flex;
  flex-direction: row;
}

.contenedor3{
  display: flex;
  flex-direction: row;
}

.imagen1 img{
  -webkit-filter:blur(10px);
  filter: blur(10px);
}

.imagen2, .imagen4, .imagen6 img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imagen3 img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

.pie-pagina{
  background-color: #C6d5c5;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.redes-sociales img{
  width: 1em;
  box-shadow: none;
}

@-webkit-keyframes animacion-principal {
    0%   {margin-top: 150%;}
    60%  {margin-top: -5%;}
    100% {margin-top: 0%;}
}

body{
  animation-name: animacion-principal;
  animation-duration: 2s;
}

@media (max-width:900px) {
  body{
    width: 95%;
  }
  .contenido div{
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  #menu-principal{
    float: none;
  }
  .cabecera h1{
    float: none;
  }
  .cabecera{
    display: block;
    padding-left: 0em;
    padding-right: 0em;
    height: 5em;
  }
  .imagen-central{
    padding-left: 0em;
    padding-right: 0em;
    height: 10px;
  }
  .contenedor1{
    padding-left: 0em;
    padding-right: 0em;
  }
  .contenedor2{
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
  }
  .contenedor3{
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
  }
  .pie-pagina{
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
  }
}
